p{
    text-align: center;
}

em strong{
    color: burlywood;
}

.tituloPrincipal{
    padding-left: 20px;
    font-weight: bold;
    font-size: 30px;
}
#missao{
    font-size: 20px
}

#banner{
    width: 100%;
}

.principal{
    background-color: #cccccc;
    padding: 30px;
}

.beneficios{
    background-color: white;
    padding: 20px;
}

.itens{
    font-style: italic;
}

.beneficios ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagemBeneficios{
    width: 50%;
}

.tituloCentralizado{
    text-align: center;
}
